<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div sec:authorize="hasAuthority('ADMIN')">
    <p>Click <a th:href="@{/admin/account/list}">here</a> to see Admin</p>
</div>
<div sec:authorize="hasAuthority('USER')">
    <p>Click <a th:href="@{/web/account/list}">here</a> to see Web</p>
</div>
<div sec:authorize="hasAuthority('ETC')">

</div>
</body>
</html>